$background: #232323;
$color: #E04744;
$charWidth: 334;
$letterCount: 64;
$frac: $charWidth/$letterCount;


.grid {
  font-family: Helvetica;
  font-size: 400px;
  width: #{$charWidth}px;
  display: grid;
  color: $color;
  grid-template-columns: repeat(#{$letterCount}, 1fr);
  perspective: 100px;
  overflow: visible;
}

.grid .child {
  overflow: hidden;
  transform-origin: 100% 50%;

  @for $i from 1 through $letterCount {
    &:nth-of-type( #{$i} ) {
      text-indent: #{(10 - ($i * $frac))}px;
      animation: anim#{$i} 8s ease-in-out alternate infinite;
    }
  }
}

@for $i from 1 through $letterCount {
  @keyframes anim#{$i} {
    0% {
      transform:
              rotateY(300 - random(600)+deg)
              rotateX(300 - random(600)+deg)
              translateX( #{(-($letterCount/2) + $i) * 30}px )
              translateY( #{200 - random(400)}px )
              translateZ( #{100 - random(200)}px );
    }
    80% {
      transform:
              rotateY(0deg)
              rotateX(0deg)
              translateX(0)
              translateY(0)
              translateZ(0);
    }
  }
}
