.grid {
  font-family: Helvetica;
  font-size: 400px;
  width: 334px;
  display: -ms-grid;
  display: grid;
  color: #E04744;
  -ms-grid-columns: (1fr)[64];
  grid-template-columns: repeat(64, 1fr);
  -webkit-perspective: 100px;
  perspective: 100px;
  overflow: visible; }

.grid .child {
  overflow: hidden;
  -webkit-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  transform-origin: 100% 50%; }
  .grid .child:nth-of-type(1) {
    text-indent: 4.78125px;
    -webkit-animation: anim1 8s ease-in-out alternate infinite;
    animation: anim1 8s ease-in-out alternate infinite; }
  .grid .child:nth-of-type(2) {
    text-indent: -0.4375px;
    -webkit-animation: anim2 8s ease-in-out alternate infinite;
    animation: anim2 8s ease-in-out alternate infinite; }
  .grid .child:nth-of-type(3) {
    text-indent: -5.65625px;
    -webkit-animation: anim3 8s ease-in-out alternate infinite;
    animation: anim3 8s ease-in-out alternate infinite; }
  .grid .child:nth-of-type(4) {
    text-indent: -10.875px;
    -webkit-animation: anim4 8s ease-in-out alternate infinite;
    animation: anim4 8s ease-in-out alternate infinite; }
  .grid .child:nth-of-type(5) {
    text-indent: -16.09375px;
    -webkit-animation: anim5 8s ease-in-out alternate infinite;
    animation: anim5 8s ease-in-out alternate infinite; }
  .grid .child:nth-of-type(6) {
    text-indent: -21.3125px;
    -webkit-animation: anim6 8s ease-in-out alternate infinite;
    animation: anim6 8s ease-in-out alternate infinite; }
  .grid .child:nth-of-type(7) {
    text-indent: -26.53125px;
    -webkit-animation: anim7 8s ease-in-out alternate infinite;
    animation: anim7 8s ease-in-out alternate infinite; }
  .grid .child:nth-of-type(8) {
    text-indent: -31.75px;
    -webkit-animation: anim8 8s ease-in-out alternate infinite;
    animation: anim8 8s ease-in-out alternate infinite; }
  .grid .child:nth-of-type(9) {
    text-indent: -36.96875px;
    -webkit-animation: anim9 8s ease-in-out alternate infinite;
    animation: anim9 8s ease-in-out alternate infinite; }
  .grid .child:nth-of-type(10) {
    text-indent: -42.1875px;
    -webkit-animation: anim10 8s ease-in-out alternate infinite;
    animation: anim10 8s ease-in-out alternate infinite; }
  .grid .child:nth-of-type(11) {
    text-indent: -47.40625px;
    -webkit-animation: anim11 8s ease-in-out alternate infinite;
    animation: anim11 8s ease-in-out alternate infinite; }
  .grid .child:nth-of-type(12) {
    text-indent: -52.625px;
    -webkit-animation: anim12 8s ease-in-out alternate infinite;
    animation: anim12 8s ease-in-out alternate infinite; }
  .grid .child:nth-of-type(13) {
    text-indent: -57.84375px;
    -webkit-animation: anim13 8s ease-in-out alternate infinite;
    animation: anim13 8s ease-in-out alternate infinite; }
  .grid .child:nth-of-type(14) {
    text-indent: -63.0625px;
    -webkit-animation: anim14 8s ease-in-out alternate infinite;
    animation: anim14 8s ease-in-out alternate infinite; }
  .grid .child:nth-of-type(15) {
    text-indent: -68.28125px;
    -webkit-animation: anim15 8s ease-in-out alternate infinite;
    animation: anim15 8s ease-in-out alternate infinite; }
  .grid .child:nth-of-type(16) {
    text-indent: -73.5px;
    -webkit-animation: anim16 8s ease-in-out alternate infinite;
    animation: anim16 8s ease-in-out alternate infinite; }
  .grid .child:nth-of-type(17) {
    text-indent: -78.71875px;
    -webkit-animation: anim17 8s ease-in-out alternate infinite;
    animation: anim17 8s ease-in-out alternate infinite; }
  .grid .child:nth-of-type(18) {
    text-indent: -83.9375px;
    -webkit-animation: anim18 8s ease-in-out alternate infinite;
    animation: anim18 8s ease-in-out alternate infinite; }
  .grid .child:nth-of-type(19) {
    text-indent: -89.15625px;
    -webkit-animation: anim19 8s ease-in-out alternate infinite;
    animation: anim19 8s ease-in-out alternate infinite; }
  .grid .child:nth-of-type(20) {
    text-indent: -94.375px;
    -webkit-animation: anim20 8s ease-in-out alternate infinite;
    animation: anim20 8s ease-in-out alternate infinite; }
  .grid .child:nth-of-type(21) {
    text-indent: -99.59375px;
    -webkit-animation: anim21 8s ease-in-out alternate infinite;
    animation: anim21 8s ease-in-out alternate infinite; }
  .grid .child:nth-of-type(22) {
    text-indent: -104.8125px;
    -webkit-animation: anim22 8s ease-in-out alternate infinite;
    animation: anim22 8s ease-in-out alternate infinite; }
  .grid .child:nth-of-type(23) {
    text-indent: -110.03125px;
    -webkit-animation: anim23 8s ease-in-out alternate infinite;
    animation: anim23 8s ease-in-out alternate infinite; }
  .grid .child:nth-of-type(24) {
    text-indent: -115.25px;
    -webkit-animation: anim24 8s ease-in-out alternate infinite;
    animation: anim24 8s ease-in-out alternate infinite; }
  .grid .child:nth-of-type(25) {
    text-indent: -120.46875px;
    -webkit-animation: anim25 8s ease-in-out alternate infinite;
    animation: anim25 8s ease-in-out alternate infinite; }
  .grid .child:nth-of-type(26) {
    text-indent: -125.6875px;
    -webkit-animation: anim26 8s ease-in-out alternate infinite;
    animation: anim26 8s ease-in-out alternate infinite; }
  .grid .child:nth-of-type(27) {
    text-indent: -130.90625px;
    -webkit-animation: anim27 8s ease-in-out alternate infinite;
    animation: anim27 8s ease-in-out alternate infinite; }
  .grid .child:nth-of-type(28) {
    text-indent: -136.125px;
    -webkit-animation: anim28 8s ease-in-out alternate infinite;
    animation: anim28 8s ease-in-out alternate infinite; }
  .grid .child:nth-of-type(29) {
    text-indent: -141.34375px;
    -webkit-animation: anim29 8s ease-in-out alternate infinite;
    animation: anim29 8s ease-in-out alternate infinite; }
  .grid .child:nth-of-type(30) {
    text-indent: -146.5625px;
    -webkit-animation: anim30 8s ease-in-out alternate infinite;
    animation: anim30 8s ease-in-out alternate infinite; }
  .grid .child:nth-of-type(31) {
    text-indent: -151.78125px;
    -webkit-animation: anim31 8s ease-in-out alternate infinite;
    animation: anim31 8s ease-in-out alternate infinite; }
  .grid .child:nth-of-type(32) {
    text-indent: -157px;
    -webkit-animation: anim32 8s ease-in-out alternate infinite;
    animation: anim32 8s ease-in-out alternate infinite; }
  .grid .child:nth-of-type(33) {
    text-indent: -162.21875px;
    -webkit-animation: anim33 8s ease-in-out alternate infinite;
    animation: anim33 8s ease-in-out alternate infinite; }
  .grid .child:nth-of-type(34) {
    text-indent: -167.4375px;
    -webkit-animation: anim34 8s ease-in-out alternate infinite;
    animation: anim34 8s ease-in-out alternate infinite; }
  .grid .child:nth-of-type(35) {
    text-indent: -172.65625px;
    -webkit-animation: anim35 8s ease-in-out alternate infinite;
    animation: anim35 8s ease-in-out alternate infinite; }
  .grid .child:nth-of-type(36) {
    text-indent: -177.875px;
    -webkit-animation: anim36 8s ease-in-out alternate infinite;
    animation: anim36 8s ease-in-out alternate infinite; }
  .grid .child:nth-of-type(37) {
    text-indent: -183.09375px;
    -webkit-animation: anim37 8s ease-in-out alternate infinite;
    animation: anim37 8s ease-in-out alternate infinite; }
  .grid .child:nth-of-type(38) {
    text-indent: -188.3125px;
    -webkit-animation: anim38 8s ease-in-out alternate infinite;
    animation: anim38 8s ease-in-out alternate infinite; }
  .grid .child:nth-of-type(39) {
    text-indent: -193.53125px;
    -webkit-animation: anim39 8s ease-in-out alternate infinite;
    animation: anim39 8s ease-in-out alternate infinite; }
  .grid .child:nth-of-type(40) {
    text-indent: -198.75px;
    -webkit-animation: anim40 8s ease-in-out alternate infinite;
    animation: anim40 8s ease-in-out alternate infinite; }
  .grid .child:nth-of-type(41) {
    text-indent: -203.96875px;
    -webkit-animation: anim41 8s ease-in-out alternate infinite;
    animation: anim41 8s ease-in-out alternate infinite; }
  .grid .child:nth-of-type(42) {
    text-indent: -209.1875px;
    -webkit-animation: anim42 8s ease-in-out alternate infinite;
    animation: anim42 8s ease-in-out alternate infinite; }
  .grid .child:nth-of-type(43) {
    text-indent: -214.40625px;
    -webkit-animation: anim43 8s ease-in-out alternate infinite;
    animation: anim43 8s ease-in-out alternate infinite; }
  .grid .child:nth-of-type(44) {
    text-indent: -219.625px;
    -webkit-animation: anim44 8s ease-in-out alternate infinite;
    animation: anim44 8s ease-in-out alternate infinite; }
  .grid .child:nth-of-type(45) {
    text-indent: -224.84375px;
    -webkit-animation: anim45 8s ease-in-out alternate infinite;
    animation: anim45 8s ease-in-out alternate infinite; }
  .grid .child:nth-of-type(46) {
    text-indent: -230.0625px;
    -webkit-animation: anim46 8s ease-in-out alternate infinite;
    animation: anim46 8s ease-in-out alternate infinite; }
  .grid .child:nth-of-type(47) {
    text-indent: -235.28125px;
    -webkit-animation: anim47 8s ease-in-out alternate infinite;
    animation: anim47 8s ease-in-out alternate infinite; }
  .grid .child:nth-of-type(48) {
    text-indent: -240.5px;
    -webkit-animation: anim48 8s ease-in-out alternate infinite;
    animation: anim48 8s ease-in-out alternate infinite; }
  .grid .child:nth-of-type(49) {
    text-indent: -245.71875px;
    -webkit-animation: anim49 8s ease-in-out alternate infinite;
    animation: anim49 8s ease-in-out alternate infinite; }
  .grid .child:nth-of-type(50) {
    text-indent: -250.9375px;
    -webkit-animation: anim50 8s ease-in-out alternate infinite;
    animation: anim50 8s ease-in-out alternate infinite; }
  .grid .child:nth-of-type(51) {
    text-indent: -256.15625px;
    -webkit-animation: anim51 8s ease-in-out alternate infinite;
    animation: anim51 8s ease-in-out alternate infinite; }
  .grid .child:nth-of-type(52) {
    text-indent: -261.375px;
    -webkit-animation: anim52 8s ease-in-out alternate infinite;
    animation: anim52 8s ease-in-out alternate infinite; }
  .grid .child:nth-of-type(53) {
    text-indent: -266.59375px;
    -webkit-animation: anim53 8s ease-in-out alternate infinite;
    animation: anim53 8s ease-in-out alternate infinite; }
  .grid .child:nth-of-type(54) {
    text-indent: -271.8125px;
    -webkit-animation: anim54 8s ease-in-out alternate infinite;
    animation: anim54 8s ease-in-out alternate infinite; }
  .grid .child:nth-of-type(55) {
    text-indent: -277.03125px;
    -webkit-animation: anim55 8s ease-in-out alternate infinite;
    animation: anim55 8s ease-in-out alternate infinite; }
  .grid .child:nth-of-type(56) {
    text-indent: -282.25px;
    -webkit-animation: anim56 8s ease-in-out alternate infinite;
    animation: anim56 8s ease-in-out alternate infinite; }
  .grid .child:nth-of-type(57) {
    text-indent: -287.46875px;
    -webkit-animation: anim57 8s ease-in-out alternate infinite;
    animation: anim57 8s ease-in-out alternate infinite; }
  .grid .child:nth-of-type(58) {
    text-indent: -292.6875px;
    -webkit-animation: anim58 8s ease-in-out alternate infinite;
    animation: anim58 8s ease-in-out alternate infinite; }
  .grid .child:nth-of-type(59) {
    text-indent: -297.90625px;
    -webkit-animation: anim59 8s ease-in-out alternate infinite;
    animation: anim59 8s ease-in-out alternate infinite; }
  .grid .child:nth-of-type(60) {
    text-indent: -303.125px;
    -webkit-animation: anim60 8s ease-in-out alternate infinite;
    animation: anim60 8s ease-in-out alternate infinite; }
  .grid .child:nth-of-type(61) {
    text-indent: -308.34375px;
    -webkit-animation: anim61 8s ease-in-out alternate infinite;
    animation: anim61 8s ease-in-out alternate infinite; }
  .grid .child:nth-of-type(62) {
    text-indent: -313.5625px;
    -webkit-animation: anim62 8s ease-in-out alternate infinite;
    animation: anim62 8s ease-in-out alternate infinite; }
  .grid .child:nth-of-type(63) {
    text-indent: -318.78125px;
    -webkit-animation: anim63 8s ease-in-out alternate infinite;
    animation: anim63 8s ease-in-out alternate infinite; }
  .grid .child:nth-of-type(64) {
    text-indent: -324px;
    -webkit-animation: anim64 8s ease-in-out alternate infinite;
    animation: anim64 8s ease-in-out alternate infinite; }

@-webkit-keyframes anim1 {
  0% {
    -webkit-transform: rotateY(75deg) rotateX(285deg) translateX(-930px) translateY(-98px) translateZ(-98px);
    transform: rotateY(75deg) rotateX(285deg) translateX(-930px) translateY(-98px) translateZ(-98px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@keyframes anim1 {
  0% {
    -webkit-transform: rotateY(75deg) rotateX(285deg) translateX(-930px) translateY(-98px) translateZ(-98px);
    transform: rotateY(75deg) rotateX(285deg) translateX(-930px) translateY(-98px) translateZ(-98px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@-webkit-keyframes anim2 {
  0% {
    -webkit-transform: rotateY(-47deg) rotateX(84deg) translateX(-900px) translateY(109px) translateZ(-38px);
    transform: rotateY(-47deg) rotateX(84deg) translateX(-900px) translateY(109px) translateZ(-38px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@keyframes anim2 {
  0% {
    -webkit-transform: rotateY(-47deg) rotateX(84deg) translateX(-900px) translateY(109px) translateZ(-38px);
    transform: rotateY(-47deg) rotateX(84deg) translateX(-900px) translateY(109px) translateZ(-38px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@-webkit-keyframes anim3 {
  0% {
    -webkit-transform: rotateY(280deg) rotateX(218deg) translateX(-870px) translateY(-130px) translateZ(46px);
    transform: rotateY(280deg) rotateX(218deg) translateX(-870px) translateY(-130px) translateZ(46px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@keyframes anim3 {
  0% {
    -webkit-transform: rotateY(280deg) rotateX(218deg) translateX(-870px) translateY(-130px) translateZ(46px);
    transform: rotateY(280deg) rotateX(218deg) translateX(-870px) translateY(-130px) translateZ(46px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@-webkit-keyframes anim4 {
  0% {
    -webkit-transform: rotateY(51deg) rotateX(-107deg) translateX(-840px) translateY(-101px) translateZ(-91px);
    transform: rotateY(51deg) rotateX(-107deg) translateX(-840px) translateY(-101px) translateZ(-91px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@keyframes anim4 {
  0% {
    -webkit-transform: rotateY(51deg) rotateX(-107deg) translateX(-840px) translateY(-101px) translateZ(-91px);
    transform: rotateY(51deg) rotateX(-107deg) translateX(-840px) translateY(-101px) translateZ(-91px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@-webkit-keyframes anim5 {
  0% {
    -webkit-transform: rotateY(68deg) rotateX(-229deg) translateX(-810px) translateY(6px) translateZ(38px);
    transform: rotateY(68deg) rotateX(-229deg) translateX(-810px) translateY(6px) translateZ(38px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@keyframes anim5 {
  0% {
    -webkit-transform: rotateY(68deg) rotateX(-229deg) translateX(-810px) translateY(6px) translateZ(38px);
    transform: rotateY(68deg) rotateX(-229deg) translateX(-810px) translateY(6px) translateZ(38px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@-webkit-keyframes anim6 {
  0% {
    -webkit-transform: rotateY(239deg) rotateX(261deg) translateX(-780px) translateY(-156px) translateZ(-87px);
    transform: rotateY(239deg) rotateX(261deg) translateX(-780px) translateY(-156px) translateZ(-87px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@keyframes anim6 {
  0% {
    -webkit-transform: rotateY(239deg) rotateX(261deg) translateX(-780px) translateY(-156px) translateZ(-87px);
    transform: rotateY(239deg) rotateX(261deg) translateX(-780px) translateY(-156px) translateZ(-87px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@-webkit-keyframes anim7 {
  0% {
    -webkit-transform: rotateY(-264deg) rotateX(291deg) translateX(-750px) translateY(147px) translateZ(95px);
    transform: rotateY(-264deg) rotateX(291deg) translateX(-750px) translateY(147px) translateZ(95px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@keyframes anim7 {
  0% {
    -webkit-transform: rotateY(-264deg) rotateX(291deg) translateX(-750px) translateY(147px) translateZ(95px);
    transform: rotateY(-264deg) rotateX(291deg) translateX(-750px) translateY(147px) translateZ(95px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@-webkit-keyframes anim8 {
  0% {
    -webkit-transform: rotateY(-283deg) rotateX(-60deg) translateX(-720px) translateY(-138px) translateZ(-39px);
    transform: rotateY(-283deg) rotateX(-60deg) translateX(-720px) translateY(-138px) translateZ(-39px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@keyframes anim8 {
  0% {
    -webkit-transform: rotateY(-283deg) rotateX(-60deg) translateX(-720px) translateY(-138px) translateZ(-39px);
    transform: rotateY(-283deg) rotateX(-60deg) translateX(-720px) translateY(-138px) translateZ(-39px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@-webkit-keyframes anim9 {
  0% {
    -webkit-transform: rotateY(-184deg) rotateX(239deg) translateX(-690px) translateY(145px) translateZ(20px);
    transform: rotateY(-184deg) rotateX(239deg) translateX(-690px) translateY(145px) translateZ(20px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@keyframes anim9 {
  0% {
    -webkit-transform: rotateY(-184deg) rotateX(239deg) translateX(-690px) translateY(145px) translateZ(20px);
    transform: rotateY(-184deg) rotateX(239deg) translateX(-690px) translateY(145px) translateZ(20px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@-webkit-keyframes anim10 {
  0% {
    -webkit-transform: rotateY(75deg) rotateX(-168deg) translateX(-660px) translateY(-26px) translateZ(-59px);
    transform: rotateY(75deg) rotateX(-168deg) translateX(-660px) translateY(-26px) translateZ(-59px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@keyframes anim10 {
  0% {
    -webkit-transform: rotateY(75deg) rotateX(-168deg) translateX(-660px) translateY(-26px) translateZ(-59px);
    transform: rotateY(75deg) rotateX(-168deg) translateX(-660px) translateY(-26px) translateZ(-59px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@-webkit-keyframes anim11 {
  0% {
    -webkit-transform: rotateY(-86deg) rotateX(88deg) translateX(-630px) translateY(41px) translateZ(36px);
    transform: rotateY(-86deg) rotateX(88deg) translateX(-630px) translateY(41px) translateZ(36px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@keyframes anim11 {
  0% {
    -webkit-transform: rotateY(-86deg) rotateX(88deg) translateX(-630px) translateY(41px) translateZ(36px);
    transform: rotateY(-86deg) rotateX(88deg) translateX(-630px) translateY(41px) translateZ(36px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@-webkit-keyframes anim12 {
  0% {
    -webkit-transform: rotateY(287deg) rotateX(-143deg) translateX(-600px) translateY(-31px) translateZ(13px);
    transform: rotateY(287deg) rotateX(-143deg) translateX(-600px) translateY(-31px) translateZ(13px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@keyframes anim12 {
  0% {
    -webkit-transform: rotateY(287deg) rotateX(-143deg) translateX(-600px) translateY(-31px) translateZ(13px);
    transform: rotateY(287deg) rotateX(-143deg) translateX(-600px) translateY(-31px) translateZ(13px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@-webkit-keyframes anim13 {
  0% {
    -webkit-transform: rotateY(-18deg) rotateX(-30deg) translateX(-570px) translateY(-5px) translateZ(-6px);
    transform: rotateY(-18deg) rotateX(-30deg) translateX(-570px) translateY(-5px) translateZ(-6px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@keyframes anim13 {
  0% {
    -webkit-transform: rotateY(-18deg) rotateX(-30deg) translateX(-570px) translateY(-5px) translateZ(-6px);
    transform: rotateY(-18deg) rotateX(-30deg) translateX(-570px) translateY(-5px) translateZ(-6px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@-webkit-keyframes anim14 {
  0% {
    -webkit-transform: rotateY(-25deg) rotateX(-292deg) translateX(-540px) translateY(81px) translateZ(-6px);
    transform: rotateY(-25deg) rotateX(-292deg) translateX(-540px) translateY(81px) translateZ(-6px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@keyframes anim14 {
  0% {
    -webkit-transform: rotateY(-25deg) rotateX(-292deg) translateX(-540px) translateY(81px) translateZ(-6px);
    transform: rotateY(-25deg) rotateX(-292deg) translateX(-540px) translateY(81px) translateZ(-6px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@-webkit-keyframes anim15 {
  0% {
    -webkit-transform: rotateY(-158deg) rotateX(298deg) translateX(-510px) translateY(122px) translateZ(-90px);
    transform: rotateY(-158deg) rotateX(298deg) translateX(-510px) translateY(122px) translateZ(-90px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@keyframes anim15 {
  0% {
    -webkit-transform: rotateY(-158deg) rotateX(298deg) translateX(-510px) translateY(122px) translateZ(-90px);
    transform: rotateY(-158deg) rotateX(298deg) translateX(-510px) translateY(122px) translateZ(-90px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@-webkit-keyframes anim16 {
  0% {
    -webkit-transform: rotateY(-170deg) rotateX(-27deg) translateX(-480px) translateY(173px) translateZ(-73px);
    transform: rotateY(-170deg) rotateX(-27deg) translateX(-480px) translateY(173px) translateZ(-73px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@keyframes anim16 {
  0% {
    -webkit-transform: rotateY(-170deg) rotateX(-27deg) translateX(-480px) translateY(173px) translateZ(-73px);
    transform: rotateY(-170deg) rotateX(-27deg) translateX(-480px) translateY(173px) translateZ(-73px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@-webkit-keyframes anim17 {
  0% {
    -webkit-transform: rotateY(119deg) rotateX(-189deg) translateX(-450px) translateY(9px) translateZ(-83px);
    transform: rotateY(119deg) rotateX(-189deg) translateX(-450px) translateY(9px) translateZ(-83px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@keyframes anim17 {
  0% {
    -webkit-transform: rotateY(119deg) rotateX(-189deg) translateX(-450px) translateY(9px) translateZ(-83px);
    transform: rotateY(119deg) rotateX(-189deg) translateX(-450px) translateY(9px) translateZ(-83px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@-webkit-keyframes anim18 {
  0% {
    -webkit-transform: rotateY(-234deg) rotateX(-300deg) translateX(-420px) translateY(-70px) translateZ(39px);
    transform: rotateY(-234deg) rotateX(-300deg) translateX(-420px) translateY(-70px) translateZ(39px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@keyframes anim18 {
  0% {
    -webkit-transform: rotateY(-234deg) rotateX(-300deg) translateX(-420px) translateY(-70px) translateZ(39px);
    transform: rotateY(-234deg) rotateX(-300deg) translateX(-420px) translateY(-70px) translateZ(39px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@-webkit-keyframes anim19 {
  0% {
    -webkit-transform: rotateY(15deg) rotateX(122deg) translateX(-390px) translateY(23px) translateZ(92px);
    transform: rotateY(15deg) rotateX(122deg) translateX(-390px) translateY(23px) translateZ(92px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@keyframes anim19 {
  0% {
    -webkit-transform: rotateY(15deg) rotateX(122deg) translateX(-390px) translateY(23px) translateZ(92px);
    transform: rotateY(15deg) rotateX(122deg) translateX(-390px) translateY(23px) translateZ(92px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@-webkit-keyframes anim20 {
  0% {
    -webkit-transform: rotateY(-292deg) rotateX(42deg) translateX(-360px) translateY(-113px) translateZ(-13px);
    transform: rotateY(-292deg) rotateX(42deg) translateX(-360px) translateY(-113px) translateZ(-13px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@keyframes anim20 {
  0% {
    -webkit-transform: rotateY(-292deg) rotateX(42deg) translateX(-360px) translateY(-113px) translateZ(-13px);
    transform: rotateY(-292deg) rotateX(42deg) translateX(-360px) translateY(-113px) translateZ(-13px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@-webkit-keyframes anim21 {
  0% {
    -webkit-transform: rotateY(-125deg) rotateX(-151deg) translateX(-330px) translateY(-154px) translateZ(27px);
    transform: rotateY(-125deg) rotateX(-151deg) translateX(-330px) translateY(-154px) translateZ(27px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@keyframes anim21 {
  0% {
    -webkit-transform: rotateY(-125deg) rotateX(-151deg) translateX(-330px) translateY(-154px) translateZ(27px);
    transform: rotateY(-125deg) rotateX(-151deg) translateX(-330px) translateY(-154px) translateZ(27px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@-webkit-keyframes anim22 {
  0% {
    -webkit-transform: rotateY(-266deg) rotateX(269deg) translateX(-300px) translateY(199px) translateZ(74px);
    transform: rotateY(-266deg) rotateX(269deg) translateX(-300px) translateY(199px) translateZ(74px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@keyframes anim22 {
  0% {
    -webkit-transform: rotateY(-266deg) rotateX(269deg) translateX(-300px) translateY(199px) translateZ(74px);
    transform: rotateY(-266deg) rotateX(269deg) translateX(-300px) translateY(199px) translateZ(74px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@-webkit-keyframes anim23 {
  0% {
    -webkit-transform: rotateY(-296deg) rotateX(-207deg) translateX(-270px) translateY(-75px) translateZ(3px);
    transform: rotateY(-296deg) rotateX(-207deg) translateX(-270px) translateY(-75px) translateZ(3px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@keyframes anim23 {
  0% {
    -webkit-transform: rotateY(-296deg) rotateX(-207deg) translateX(-270px) translateY(-75px) translateZ(3px);
    transform: rotateY(-296deg) rotateX(-207deg) translateX(-270px) translateY(-75px) translateZ(3px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@-webkit-keyframes anim24 {
  0% {
    -webkit-transform: rotateY(-233deg) rotateX(-44deg) translateX(-240px) translateY(-26px) translateZ(-92px);
    transform: rotateY(-233deg) rotateX(-44deg) translateX(-240px) translateY(-26px) translateZ(-92px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@keyframes anim24 {
  0% {
    -webkit-transform: rotateY(-233deg) rotateX(-44deg) translateX(-240px) translateY(-26px) translateZ(-92px);
    transform: rotateY(-233deg) rotateX(-44deg) translateX(-240px) translateY(-26px) translateZ(-92px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@-webkit-keyframes anim25 {
  0% {
    -webkit-transform: rotateY(222deg) rotateX(86deg) translateX(-210px) translateY(185px) translateZ(99px);
    transform: rotateY(222deg) rotateX(86deg) translateX(-210px) translateY(185px) translateZ(99px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@keyframes anim25 {
  0% {
    -webkit-transform: rotateY(222deg) rotateX(86deg) translateX(-210px) translateY(185px) translateZ(99px);
    transform: rotateY(222deg) rotateX(86deg) translateX(-210px) translateY(185px) translateZ(99px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@-webkit-keyframes anim26 {
  0% {
    -webkit-transform: rotateY(-244deg) rotateX(3deg) translateX(-180px) translateY(-61px) translateZ(60px);
    transform: rotateY(-244deg) rotateX(3deg) translateX(-180px) translateY(-61px) translateZ(60px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@keyframes anim26 {
  0% {
    -webkit-transform: rotateY(-244deg) rotateX(3deg) translateX(-180px) translateY(-61px) translateZ(60px);
    transform: rotateY(-244deg) rotateX(3deg) translateX(-180px) translateY(-61px) translateZ(60px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@-webkit-keyframes anim27 {
  0% {
    -webkit-transform: rotateY(-205deg) rotateX(-105deg) translateX(-150px) translateY(-136px) translateZ(86px);
    transform: rotateY(-205deg) rotateX(-105deg) translateX(-150px) translateY(-136px) translateZ(86px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@keyframes anim27 {
  0% {
    -webkit-transform: rotateY(-205deg) rotateX(-105deg) translateX(-150px) translateY(-136px) translateZ(86px);
    transform: rotateY(-205deg) rotateX(-105deg) translateX(-150px) translateY(-136px) translateZ(86px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@-webkit-keyframes anim28 {
  0% {
    -webkit-transform: rotateY(141deg) rotateX(2deg) translateX(-120px) translateY(-91px) translateZ(92px);
    transform: rotateY(141deg) rotateX(2deg) translateX(-120px) translateY(-91px) translateZ(92px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@keyframes anim28 {
  0% {
    -webkit-transform: rotateY(141deg) rotateX(2deg) translateX(-120px) translateY(-91px) translateZ(92px);
    transform: rotateY(141deg) rotateX(2deg) translateX(-120px) translateY(-91px) translateZ(92px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@-webkit-keyframes anim29 {
  0% {
    -webkit-transform: rotateY(107deg) rotateX(37deg) translateX(-90px) translateY(-70px) translateZ(-89px);
    transform: rotateY(107deg) rotateX(37deg) translateX(-90px) translateY(-70px) translateZ(-89px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@keyframes anim29 {
  0% {
    -webkit-transform: rotateY(107deg) rotateX(37deg) translateX(-90px) translateY(-70px) translateZ(-89px);
    transform: rotateY(107deg) rotateX(37deg) translateX(-90px) translateY(-70px) translateZ(-89px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@-webkit-keyframes anim30 {
  0% {
    -webkit-transform: rotateY(256deg) rotateX(-248deg) translateX(-60px) translateY(-179px) translateZ(-79px);
    transform: rotateY(256deg) rotateX(-248deg) translateX(-60px) translateY(-179px) translateZ(-79px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@keyframes anim30 {
  0% {
    -webkit-transform: rotateY(256deg) rotateX(-248deg) translateX(-60px) translateY(-179px) translateZ(-79px);
    transform: rotateY(256deg) rotateX(-248deg) translateX(-60px) translateY(-179px) translateZ(-79px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@-webkit-keyframes anim31 {
  0% {
    -webkit-transform: rotateY(-191deg) rotateX(-173deg) translateX(-30px) translateY(-182px) translateZ(-56px);
    transform: rotateY(-191deg) rotateX(-173deg) translateX(-30px) translateY(-182px) translateZ(-56px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@keyframes anim31 {
  0% {
    -webkit-transform: rotateY(-191deg) rotateX(-173deg) translateX(-30px) translateY(-182px) translateZ(-56px);
    transform: rotateY(-191deg) rotateX(-173deg) translateX(-30px) translateY(-182px) translateZ(-56px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@-webkit-keyframes anim32 {
  0% {
    -webkit-transform: rotateY(240deg) rotateX(-164deg) translateX(0px) translateY(144px) translateZ(-10px);
    transform: rotateY(240deg) rotateX(-164deg) translateX(0px) translateY(144px) translateZ(-10px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@keyframes anim32 {
  0% {
    -webkit-transform: rotateY(240deg) rotateX(-164deg) translateX(0px) translateY(144px) translateZ(-10px);
    transform: rotateY(240deg) rotateX(-164deg) translateX(0px) translateY(144px) translateZ(-10px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@-webkit-keyframes anim33 {
  0% {
    -webkit-transform: rotateY(24deg) rotateX(-149deg) translateX(30px) translateY(-196px) translateZ(-3px);
    transform: rotateY(24deg) rotateX(-149deg) translateX(30px) translateY(-196px) translateZ(-3px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@keyframes anim33 {
  0% {
    -webkit-transform: rotateY(24deg) rotateX(-149deg) translateX(30px) translateY(-196px) translateZ(-3px);
    transform: rotateY(24deg) rotateX(-149deg) translateX(30px) translateY(-196px) translateZ(-3px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@-webkit-keyframes anim34 {
  0% {
    -webkit-transform: rotateY(180deg) rotateX(-284deg) translateX(60px) translateY(-10px) translateZ(-7px);
    transform: rotateY(180deg) rotateX(-284deg) translateX(60px) translateY(-10px) translateZ(-7px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@keyframes anim34 {
  0% {
    -webkit-transform: rotateY(180deg) rotateX(-284deg) translateX(60px) translateY(-10px) translateZ(-7px);
    transform: rotateY(180deg) rotateX(-284deg) translateX(60px) translateY(-10px) translateZ(-7px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@-webkit-keyframes anim35 {
  0% {
    -webkit-transform: rotateY(158deg) rotateX(-59deg) translateX(90px) translateY(-136px) translateZ(-47px);
    transform: rotateY(158deg) rotateX(-59deg) translateX(90px) translateY(-136px) translateZ(-47px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@keyframes anim35 {
  0% {
    -webkit-transform: rotateY(158deg) rotateX(-59deg) translateX(90px) translateY(-136px) translateZ(-47px);
    transform: rotateY(158deg) rotateX(-59deg) translateX(90px) translateY(-136px) translateZ(-47px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@-webkit-keyframes anim36 {
  0% {
    -webkit-transform: rotateY(-173deg) rotateX(230deg) translateX(120px) translateY(143px) translateZ(-71px);
    transform: rotateY(-173deg) rotateX(230deg) translateX(120px) translateY(143px) translateZ(-71px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@keyframes anim36 {
  0% {
    -webkit-transform: rotateY(-173deg) rotateX(230deg) translateX(120px) translateY(143px) translateZ(-71px);
    transform: rotateY(-173deg) rotateX(230deg) translateX(120px) translateY(143px) translateZ(-71px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@-webkit-keyframes anim37 {
  0% {
    -webkit-transform: rotateY(36deg) rotateX(-69deg) translateX(150px) translateY(133px) translateZ(2px);
    transform: rotateY(36deg) rotateX(-69deg) translateX(150px) translateY(133px) translateZ(2px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@keyframes anim37 {
  0% {
    -webkit-transform: rotateY(36deg) rotateX(-69deg) translateX(150px) translateY(133px) translateZ(2px);
    transform: rotateY(36deg) rotateX(-69deg) translateX(150px) translateY(133px) translateZ(2px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@-webkit-keyframes anim38 {
  0% {
    -webkit-transform: rotateY(81deg) rotateX(9deg) translateX(180px) translateY(-60px) translateZ(3px);
    transform: rotateY(81deg) rotateX(9deg) translateX(180px) translateY(-60px) translateZ(3px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@keyframes anim38 {
  0% {
    -webkit-transform: rotateY(81deg) rotateX(9deg) translateX(180px) translateY(-60px) translateZ(3px);
    transform: rotateY(81deg) rotateX(9deg) translateX(180px) translateY(-60px) translateZ(3px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@-webkit-keyframes anim39 {
  0% {
    -webkit-transform: rotateY(-18deg) rotateX(-118deg) translateX(210px) translateY(-180px) translateZ(-84px);
    transform: rotateY(-18deg) rotateX(-118deg) translateX(210px) translateY(-180px) translateZ(-84px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@keyframes anim39 {
  0% {
    -webkit-transform: rotateY(-18deg) rotateX(-118deg) translateX(210px) translateY(-180px) translateZ(-84px);
    transform: rotateY(-18deg) rotateX(-118deg) translateX(210px) translateY(-180px) translateZ(-84px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@-webkit-keyframes anim40 {
  0% {
    -webkit-transform: rotateY(-16deg) rotateX(-219deg) translateX(240px) translateY(-132px) translateZ(32px);
    transform: rotateY(-16deg) rotateX(-219deg) translateX(240px) translateY(-132px) translateZ(32px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@keyframes anim40 {
  0% {
    -webkit-transform: rotateY(-16deg) rotateX(-219deg) translateX(240px) translateY(-132px) translateZ(32px);
    transform: rotateY(-16deg) rotateX(-219deg) translateX(240px) translateY(-132px) translateZ(32px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@-webkit-keyframes anim41 {
  0% {
    -webkit-transform: rotateY(-68deg) rotateX(-206deg) translateX(270px) translateY(-131px) translateZ(-16px);
    transform: rotateY(-68deg) rotateX(-206deg) translateX(270px) translateY(-131px) translateZ(-16px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@keyframes anim41 {
  0% {
    -webkit-transform: rotateY(-68deg) rotateX(-206deg) translateX(270px) translateY(-131px) translateZ(-16px);
    transform: rotateY(-68deg) rotateX(-206deg) translateX(270px) translateY(-131px) translateZ(-16px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@-webkit-keyframes anim42 {
  0% {
    -webkit-transform: rotateY(274deg) rotateX(-191deg) translateX(300px) translateY(144px) translateZ(12px);
    transform: rotateY(274deg) rotateX(-191deg) translateX(300px) translateY(144px) translateZ(12px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@keyframes anim42 {
  0% {
    -webkit-transform: rotateY(274deg) rotateX(-191deg) translateX(300px) translateY(144px) translateZ(12px);
    transform: rotateY(274deg) rotateX(-191deg) translateX(300px) translateY(144px) translateZ(12px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@-webkit-keyframes anim43 {
  0% {
    -webkit-transform: rotateY(136deg) rotateX(-258deg) translateX(330px) translateY(95px) translateZ(-21px);
    transform: rotateY(136deg) rotateX(-258deg) translateX(330px) translateY(95px) translateZ(-21px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@keyframes anim43 {
  0% {
    -webkit-transform: rotateY(136deg) rotateX(-258deg) translateX(330px) translateY(95px) translateZ(-21px);
    transform: rotateY(136deg) rotateX(-258deg) translateX(330px) translateY(95px) translateZ(-21px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@-webkit-keyframes anim44 {
  0% {
    -webkit-transform: rotateY(-61deg) rotateX(-82deg) translateX(360px) translateY(198px) translateZ(73px);
    transform: rotateY(-61deg) rotateX(-82deg) translateX(360px) translateY(198px) translateZ(73px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@keyframes anim44 {
  0% {
    -webkit-transform: rotateY(-61deg) rotateX(-82deg) translateX(360px) translateY(198px) translateZ(73px);
    transform: rotateY(-61deg) rotateX(-82deg) translateX(360px) translateY(198px) translateZ(73px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@-webkit-keyframes anim45 {
  0% {
    -webkit-transform: rotateY(-210deg) rotateX(7deg) translateX(390px) translateY(12px) translateZ(28px);
    transform: rotateY(-210deg) rotateX(7deg) translateX(390px) translateY(12px) translateZ(28px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@keyframes anim45 {
  0% {
    -webkit-transform: rotateY(-210deg) rotateX(7deg) translateX(390px) translateY(12px) translateZ(28px);
    transform: rotateY(-210deg) rotateX(7deg) translateX(390px) translateY(12px) translateZ(28px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@-webkit-keyframes anim46 {
  0% {
    -webkit-transform: rotateY(114deg) rotateX(-93deg) translateX(420px) translateY(-131px) translateZ(-8px);
    transform: rotateY(114deg) rotateX(-93deg) translateX(420px) translateY(-131px) translateZ(-8px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@keyframes anim46 {
  0% {
    -webkit-transform: rotateY(114deg) rotateX(-93deg) translateX(420px) translateY(-131px) translateZ(-8px);
    transform: rotateY(114deg) rotateX(-93deg) translateX(420px) translateY(-131px) translateZ(-8px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@-webkit-keyframes anim47 {
  0% {
    -webkit-transform: rotateY(-76deg) rotateX(-67deg) translateX(450px) translateY(155px) translateZ(-36px);
    transform: rotateY(-76deg) rotateX(-67deg) translateX(450px) translateY(155px) translateZ(-36px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@keyframes anim47 {
  0% {
    -webkit-transform: rotateY(-76deg) rotateX(-67deg) translateX(450px) translateY(155px) translateZ(-36px);
    transform: rotateY(-76deg) rotateX(-67deg) translateX(450px) translateY(155px) translateZ(-36px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@-webkit-keyframes anim48 {
  0% {
    -webkit-transform: rotateY(-84deg) rotateX(-253deg) translateX(480px) translateY(-162px) translateZ(28px);
    transform: rotateY(-84deg) rotateX(-253deg) translateX(480px) translateY(-162px) translateZ(28px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@keyframes anim48 {
  0% {
    -webkit-transform: rotateY(-84deg) rotateX(-253deg) translateX(480px) translateY(-162px) translateZ(28px);
    transform: rotateY(-84deg) rotateX(-253deg) translateX(480px) translateY(-162px) translateZ(28px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@-webkit-keyframes anim49 {
  0% {
    -webkit-transform: rotateY(233deg) rotateX(199deg) translateX(510px) translateY(-182px) translateZ(-4px);
    transform: rotateY(233deg) rotateX(199deg) translateX(510px) translateY(-182px) translateZ(-4px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@keyframes anim49 {
  0% {
    -webkit-transform: rotateY(233deg) rotateX(199deg) translateX(510px) translateY(-182px) translateZ(-4px);
    transform: rotateY(233deg) rotateX(199deg) translateX(510px) translateY(-182px) translateZ(-4px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@-webkit-keyframes anim50 {
  0% {
    -webkit-transform: rotateY(-211deg) rotateX(-101deg) translateX(540px) translateY(-168px) translateZ(-51px);
    transform: rotateY(-211deg) rotateX(-101deg) translateX(540px) translateY(-168px) translateZ(-51px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@keyframes anim50 {
  0% {
    -webkit-transform: rotateY(-211deg) rotateX(-101deg) translateX(540px) translateY(-168px) translateZ(-51px);
    transform: rotateY(-211deg) rotateX(-101deg) translateX(540px) translateY(-168px) translateZ(-51px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@-webkit-keyframes anim51 {
  0% {
    -webkit-transform: rotateY(-218deg) rotateX(-136deg) translateX(570px) translateY(150px) translateZ(-20px);
    transform: rotateY(-218deg) rotateX(-136deg) translateX(570px) translateY(150px) translateZ(-20px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@keyframes anim51 {
  0% {
    -webkit-transform: rotateY(-218deg) rotateX(-136deg) translateX(570px) translateY(150px) translateZ(-20px);
    transform: rotateY(-218deg) rotateX(-136deg) translateX(570px) translateY(150px) translateZ(-20px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@-webkit-keyframes anim52 {
  0% {
    -webkit-transform: rotateY(-7deg) rotateX(-65deg) translateX(600px) translateY(-69px) translateZ(53px);
    transform: rotateY(-7deg) rotateX(-65deg) translateX(600px) translateY(-69px) translateZ(53px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@keyframes anim52 {
  0% {
    -webkit-transform: rotateY(-7deg) rotateX(-65deg) translateX(600px) translateY(-69px) translateZ(53px);
    transform: rotateY(-7deg) rotateX(-65deg) translateX(600px) translateY(-69px) translateZ(53px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@-webkit-keyframes anim53 {
  0% {
    -webkit-transform: rotateY(255deg) rotateX(272deg) translateX(630px) translateY(-6px) translateZ(-7px);
    transform: rotateY(255deg) rotateX(272deg) translateX(630px) translateY(-6px) translateZ(-7px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@keyframes anim53 {
  0% {
    -webkit-transform: rotateY(255deg) rotateX(272deg) translateX(630px) translateY(-6px) translateZ(-7px);
    transform: rotateY(255deg) rotateX(272deg) translateX(630px) translateY(-6px) translateZ(-7px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@-webkit-keyframes anim54 {
  0% {
    -webkit-transform: rotateY(-167deg) rotateX(70deg) translateX(660px) translateY(-141px) translateZ(-44px);
    transform: rotateY(-167deg) rotateX(70deg) translateX(660px) translateY(-141px) translateZ(-44px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@keyframes anim54 {
  0% {
    -webkit-transform: rotateY(-167deg) rotateX(70deg) translateX(660px) translateY(-141px) translateZ(-44px);
    transform: rotateY(-167deg) rotateX(70deg) translateX(660px) translateY(-141px) translateZ(-44px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@-webkit-keyframes anim55 {
  0% {
    -webkit-transform: rotateY(-121deg) rotateX(41deg) translateX(690px) translateY(-49px) translateZ(-19px);
    transform: rotateY(-121deg) rotateX(41deg) translateX(690px) translateY(-49px) translateZ(-19px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@keyframes anim55 {
  0% {
    -webkit-transform: rotateY(-121deg) rotateX(41deg) translateX(690px) translateY(-49px) translateZ(-19px);
    transform: rotateY(-121deg) rotateX(41deg) translateX(690px) translateY(-49px) translateZ(-19px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@-webkit-keyframes anim56 {
  0% {
    -webkit-transform: rotateY(62deg) rotateX(4deg) translateX(720px) translateY(-14px) translateZ(6px);
    transform: rotateY(62deg) rotateX(4deg) translateX(720px) translateY(-14px) translateZ(6px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@keyframes anim56 {
  0% {
    -webkit-transform: rotateY(62deg) rotateX(4deg) translateX(720px) translateY(-14px) translateZ(6px);
    transform: rotateY(62deg) rotateX(4deg) translateX(720px) translateY(-14px) translateZ(6px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@-webkit-keyframes anim57 {
  0% {
    -webkit-transform: rotateY(178deg) rotateX(-90deg) translateX(750px) translateY(-57px) translateZ(-97px);
    transform: rotateY(178deg) rotateX(-90deg) translateX(750px) translateY(-57px) translateZ(-97px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@keyframes anim57 {
  0% {
    -webkit-transform: rotateY(178deg) rotateX(-90deg) translateX(750px) translateY(-57px) translateZ(-97px);
    transform: rotateY(178deg) rotateX(-90deg) translateX(750px) translateY(-57px) translateZ(-97px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@-webkit-keyframes anim58 {
  0% {
    -webkit-transform: rotateY(119deg) rotateX(65deg) translateX(780px) translateY(-168px) translateZ(-84px);
    transform: rotateY(119deg) rotateX(65deg) translateX(780px) translateY(-168px) translateZ(-84px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@keyframes anim58 {
  0% {
    -webkit-transform: rotateY(119deg) rotateX(65deg) translateX(780px) translateY(-168px) translateZ(-84px);
    transform: rotateY(119deg) rotateX(65deg) translateX(780px) translateY(-168px) translateZ(-84px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@-webkit-keyframes anim59 {
  0% {
    -webkit-transform: rotateY(205deg) rotateX(-6deg) translateX(810px) translateY(-189px) translateZ(99px);
    transform: rotateY(205deg) rotateX(-6deg) translateX(810px) translateY(-189px) translateZ(99px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@keyframes anim59 {
  0% {
    -webkit-transform: rotateY(205deg) rotateX(-6deg) translateX(810px) translateY(-189px) translateZ(99px);
    transform: rotateY(205deg) rotateX(-6deg) translateX(810px) translateY(-189px) translateZ(99px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@-webkit-keyframes anim60 {
  0% {
    -webkit-transform: rotateY(-49deg) rotateX(99deg) translateX(840px) translateY(-69px) translateZ(-24px);
    transform: rotateY(-49deg) rotateX(99deg) translateX(840px) translateY(-69px) translateZ(-24px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@keyframes anim60 {
  0% {
    -webkit-transform: rotateY(-49deg) rotateX(99deg) translateX(840px) translateY(-69px) translateZ(-24px);
    transform: rotateY(-49deg) rotateX(99deg) translateX(840px) translateY(-69px) translateZ(-24px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@-webkit-keyframes anim61 {
  0% {
    -webkit-transform: rotateY(171deg) rotateX(-280deg) translateX(870px) translateY(-175px) translateZ(-6px);
    transform: rotateY(171deg) rotateX(-280deg) translateX(870px) translateY(-175px) translateZ(-6px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@keyframes anim61 {
  0% {
    -webkit-transform: rotateY(171deg) rotateX(-280deg) translateX(870px) translateY(-175px) translateZ(-6px);
    transform: rotateY(171deg) rotateX(-280deg) translateX(870px) translateY(-175px) translateZ(-6px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@-webkit-keyframes anim62 {
  0% {
    -webkit-transform: rotateY(-204deg) rotateX(-29deg) translateX(900px) translateY(-161px) translateZ(22px);
    transform: rotateY(-204deg) rotateX(-29deg) translateX(900px) translateY(-161px) translateZ(22px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@keyframes anim62 {
  0% {
    -webkit-transform: rotateY(-204deg) rotateX(-29deg) translateX(900px) translateY(-161px) translateZ(22px);
    transform: rotateY(-204deg) rotateX(-29deg) translateX(900px) translateY(-161px) translateZ(22px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@-webkit-keyframes anim63 {
  0% {
    -webkit-transform: rotateY(-186deg) rotateX(-262deg) translateX(930px) translateY(-53px) translateZ(-98px);
    transform: rotateY(-186deg) rotateX(-262deg) translateX(930px) translateY(-53px) translateZ(-98px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@keyframes anim63 {
  0% {
    -webkit-transform: rotateY(-186deg) rotateX(-262deg) translateX(930px) translateY(-53px) translateZ(-98px);
    transform: rotateY(-186deg) rotateX(-262deg) translateX(930px) translateY(-53px) translateZ(-98px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@-webkit-keyframes anim64 {
  0% {
    -webkit-transform: rotateY(165deg) rotateX(-244deg) translateX(960px) translateY(-115px) translateZ(-12px);
    transform: rotateY(165deg) rotateX(-244deg) translateX(960px) translateY(-115px) translateZ(-12px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }

@keyframes anim64 {
  0% {
    -webkit-transform: rotateY(165deg) rotateX(-244deg) translateX(960px) translateY(-115px) translateZ(-12px);
    transform: rotateY(165deg) rotateX(-244deg) translateX(960px) translateY(-115px) translateZ(-12px); }
  80% {
    -webkit-transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0);
    transform: rotateY(0deg) rotateX(0deg) translateX(0) translateY(0) translateZ(0); } }
